/// <reference path="monolith" />

/**
 *
 * GLOBAL - Base styling for HTML elements
 *
 */

 * {
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  font-family: $font-family-base;
  font-style: $font-style-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
}