/// <reference path="monolith" />

/**
 *
 * GRID - Sets up the grid column classes at all breakpoints.
 *
 */

// Breakpoints
$breakpoints: (
  xs: 320px,
  sm: 420px,
  md: 768px,
  lg: 1024px,
  );

.container {
  margin: 0 auto;
  width: $site-width;
  max-width: $content-width;
  padding: 0 $space;
}

.row {
  @extend %clearfix;
  display: flex;
  flex-wrap: wrap;

  // Negative margins on nested rows.
  .row {
    margin-left: $space *-1;
    margin-right: $space *-1;
  }
}

// Default all columns to 100% unless a specific column size is set.
@if (variable-exists(breakpoints)) {
  @each $bp-name, $bp-value in $breakpoints {
    @for $i from 1 through $column-count {
      [class^="col-"] {
        width: 100%;
        padding: $space;
      }
    }
  }
}

// Set column widths at all breakpoint widths.
@if (variable-exists(breakpoints)) {
  @each $bp-name, $bp-value in $breakpoints {
    @media (min-width: $bp-value) {
      @for $i from 1 through $column-count {
        .col-#{$bp-name}-#{$i} {
          width: calc(#{$i} / #{$column-count} * 100%);
          padding: $space;
          float: left;
        }
      }
    }
  }
}
