/// <reference path="../Default.scss" />
// ----------------------------------------
// Clearfix
// ----------------------------------------
%clearfix {
  &:after {
    clear: both;
    content: '';
    display: block;
  }
}

.clearfix {
  @extend %clearfix;
}