/// <reference path="monolith" />
// ----------------------------------------
// configuration settings
// ----------------------------------------

$background-color:    #f2f2f2;

$font-size-base:      16px;
$font-family-base:    sans-serif;
$font-style-base:     normal;
$font-weight-base:    normal;